@import url('https: //fonts.googleapis.com/css2?family= Playfair+Display & display = swap');

@font-face{
  src: url(./fonts/got.ttf);
  font-family: got;
}
*{
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar{
  width: 0.4rem;  
}
::-webkit-scrollbar-thumb{
  background-color: #FBD674;;
  border-radius: 0.4rem;  
}
::-webkit-scrollbar-track{
  background-color: black;
}
html{
  scroll-behavior: smooth;
}

#imgmenu{
  background-image: url("./img/git_capa.gif.crdownload");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100vh;

}

.menu{
  display: flex;
  flex-direction: row;
  font-family: got;
  font-size: 0.9rem;
  height: 7rem;
  gap: 19rem;
 
}

#logo{
  position: relative;
  width: 10rem;
  height: 10rem;
  right: -5rem;
  top: -1.3rem;
  float: left;
 
}

.menu li {
  list-style: none;
  display: flex;
  text-decoration: none;

}
.menu ul{
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

#topo{
  display: flex;
  justify-content:space-evenly;
  align-items:flex-start;
  margin-top: 2.5rem;
}

.menu a{
  color: #FBD674;
  text-decoration: none;
}
.menu a :hover{
  color: white;

}

.perguntascontainer{
  display: flex;
  flex-direction: column;
  height: 50%;
  padding: 5rem;
  background-color: black;
  
}

.perguntasgeral{
  display: flex;
  width: 48%;
  height: 50%;
  flex-direction: column;
}

.perguntastitulo{
  color: #FBD674;
  font-size: 1.7rem;
  font-family: got;
  margin-top: 3rem;
  margin-left: 1rem;
}

.img_pergunta{
  display: flex;
  flex-direction: row;
  align-items: center;
  

}

.pergunta{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #D5D5D5;
  margin-bottom: 10px;
  cursor: pointer;
  font-family:playfair;
  font-size: 3rem;
}

.pergunta h3{
  color: #FBD674;
  font-size: 1.2rem;
  margin-top: 1.2rem;
  margin-left: 0.8rem;
  
}

.pergunta i{
  color: black;
  font-size: 25px;
  transition: all 0.5s ease;
}

.resposta{
  max-height: 0px;
  overflow: hidden;
  opacity: 0;
  transition: 0.4s ease-in-out;
  transform: scaleY(0.2);
  transform-origin: top;
  color:#D5D5D5;
}

.ativar{
  max-height: 300px;
  transform: scaleY(1);
  opacity: 1;
}

.fechar i{
  transform: rotate(180deg);
}

#icon{
  display: flex;
  width: 2.3rem;
  height: 2.3rem;
}
#icon2{
  display: flex;
  width: 3.5rem;
  height: 3.5rem;
}

/* carrossel */


.carrossel{
  display: flex;
  width: 25rem;
  margin-top: -25rem;
  margin-left:50rem;
}

.ferramentastitulo{
  color: #FBD674;
  font-size: 1.7rem;
  font-family: got;
  margin-top: 5rem;
  margin-left: 4rem;

}
.img-ferramentas{
  display: flex;
  flex-direction: now;

}

.ferramentas {
  background-color: black;
  padding: 2rem;
  height: 100vh;
}
#vscode{
  display: flex;
  flex-direction: column; 
}

#vscode h2{
  color:#D5D5D5;
  font-family: got;
  font-size: 1.3rem;
  text-align: center;

}

#mysql{
  display: flex;
  flex-direction: column;
}
#meet{
  display: flex;
  flex-direction: column;
}
#github{
  display: flex;
  flex-direction: column;
}
#git{
  display: flex;
  flex-direction: column;
}
#mysql h2{
  color:#D5D5D5;
  font-family: got;
  font-size: 1.3rem;
  text-align: center;
}
#meet h2{
  color:#D5D5D5;
  font-family: got;
  font-size: 1.3rem;
  text-align: center;
}
#github h2{
  color:#D5D5D5;
  font-family: got;
  font-size: 1.3rem;
  text-align: center;
}
#git h2{
  color:#D5D5D5;
  font-family: got;
  font-size: 1.3rem;
  text-align: center;
}


.desenvolvedorestitulo{
  color: #FBD674;
  font-size: 1.7rem;
  font-family: got;
  margin-top: 5rem;
  margin-left: 4rem;

}

#victoria h2{
  color:#FBD674;
  font-family: got;
  font-size: 1rem;
  text-align: center;
  margin-top: 1.5rem;
}

#valesca h2{
  color:#FBD674;
  font-family: got;
  font-size: 1rem;
  text-align: center;
  margin-top: 1.5rem;
}

#beatriz h2{
  color:#FBD674;
  font-family: got;
  font-size: 1rem;
  text-align: center;
  margin-top: 1.3rem;
}

#matheus1 h2{
  color:#FBD674;
  font-family: got;
  font-size: 1rem;
  text-align: center;
  margin-top: 1.5rem;
}



.desenvolvedores {
  background-color: black;
  padding: 1rem;
  height: 100vh;
}
.img-desenvolvedores{
  display: flex;
  gap: 4rem;
  margin-top: 4rem;
}
.fotos{
  border-radius:100%;
}

footer {
  background-color: black;
  height: 7rem;
  padding: 8rem;
  margin-bottom: -10rem;
  background-image: url(./img/footer.png);
  background-repeat: no-repeat;
  background-position: center ;
  background-size: 30rem;
}

.rodape p {
  color: #D5D5D5;
  font-size: 1rem;
  font-family: got;
  margin-left: 26.5rem;
  margin-top: 5rem;
}